services:
  adventskalender_database:
    container_name: adventskalender_database
    image: postgres:18
    volumes:
      - ./.volumes/postgres_data:/var/lib/postgresql/data:rw
    environment:
      - POSTGRES_USER=adventskalender
      - POSTGRES_PASSWORD=debugpassword
      - POSTGRES_DB=adventskalender
    restart: "unless-stopped"
    networks:
      - adventskalender
    ports:
      - "5432:5432" # just needs to be exported for debugging purposes
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U adventskalender" ]
      interval: 10s
      timeout: 5s
      retries: 5
  adventskalender_backend:
    container_name: adventskalender_backend
    image: adventskalender-backend:local
    volumes:
      - ./.volumes/backend_keys:/data:rw
    environment:
      - ADVENTSKALENDER_LOGGING_LEVEL=trace
      - ADVENTSKALENDER_DB_CONNECTION=postgres://adventskalender:debugpassword@adventskalender_database/adventskalender
      - ADVENTSKALENDER_API_HOST=http://localhost:5479
      - ADVENTSKALENDER_TOKEN_AUDIENCE=http://localhost:5173,http://localhost:5615
      - ADVENTSKALENDER_HEALTHCHECK_IO_PROJECT=your-healthcheck-uuid-here
      - ADVENTSKALENDER_CORS_ORIGINS=http://localhost:5173,http://localhost:5615
      - ADVENTSKALENDER_KEY_FILE_PATH=/data/adventskalender_ed25519.key
    restart: "unless-stopped"
    depends_on:
      - adventskalender_database
    networks:
      - adventskalender
    ports:
      - "5479:5479" # just needs to be exported for debugging purposes
    healthcheck:
      test: [ "CMD-SHELL", "curl --user-agent docker-health-check/1.0 --fail http://127.0.0.1:5479/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
  adventskalender_frontend:
    container_name: adventskalender_frontend
    image: adventskalender-frontend:local
    restart: "unless-stopped"
    depends_on:
      - adventskalender_backend
    networks:
      - adventskalender
    ports:
      - "5615:80"
    healthcheck:
      test: [ "CMD-SHELL", "curl --user-agent docker-health-check/1.0 --fail http://127.0.0.1" ]
      interval: 10s
      timeout: 5s
      retries: 5
networks:
  adventskalender:
    driver: bridge
